
:root {
  --breadcrumb-link-color: var(--color-medium-light);
  --breadcrumb-link-color-hover: var(--text-color);
  --breadcrumb-active-color: var(--text-color);
}

.list {
  padding-left: 0;
  margin: 0;
  display: inline-flex;
  list-style: none;
  font-size: 15px;
}
.list li:not(:first-child) ::before {
  padding-left: 3px;
  padding-right: 3px;
  content: '/';
}

.link {
  color: var(--breadcrumb-link-color);
  text-decoration: none;
  border-bottom: none;
}
.link:hover {
  color: var(--breadcrumb-link-color-hover);
}

.active {
  color: var(--breadcrumb-active-color);
  font-weight: 700;
}