:root {
  --button-color: #5e5e5e;
  --button-background-color: transparent;
  --button-background-color-hover: rgba(0,0,0, 5%);
}

.button {
  appearance: none;
  text-decoration: none;
  color: var(--button-color);
  background-color: var(--button-background-color);
  border-radius: 2px;
}
.button:hover {
  background-color: var(--button-background-color-hover);
}

.isIcon {
  display: inline-flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}