:root {
  --button-color: var(--color-medium);
  --button-color-rgb: var(--color-medium-rgb);
  --button-background-color: transparent;
  --button-background-color-hover: rgba(0,0,0, 5%);
  --button-font-size: 14px;
  --button-link-decoration-color: rgba(var(--button-color-rgb), 30%);
}

.button {
  padding: 8px 20px;
  appearance: none;
  font-size: var(--button-font-size);
  text-decoration: none;
  color: var(--button-color);
  background-color: var(--button-background-color);
  border-radius: 2px;
  border: none;
  box-shadow: none;
  cursor: pointer;
}
.button:hover {
  background-color: var(--button-background-color-hover);
}

.primary {
  --button-color: var(--color-primary-contrast);
  --button-background-color: var(--color-primary);
  --button-background-color-hover: var(--button-background-color);
}
.primary:hover {
  opacity: 95%;
}

.link {
  padding: 0;
  border-bottom: 1px solid var(--button-link-decoration-color);
  --button-background-color: transparent;
  --button-background-color-hover: transparent;
}
.link:hover {
  --button-color: var(--text-color);
}
.link.primary {
  --button-color: var(--color-primary);
  --button-link-decoration-color: rgba(var(--color-primary-rgb), 30%);
}

.small {
  padding: 5px 10px;
  --button-font-size: 12px;
}

.icon {
  padding: 0;
  display: inline-flex;
  width: 24px;
  height: 24px;
  justify-content: center;
  align-items: center;
}