:root {
  --container-padding: 20px;
  --container-padding-small: 10px;
  --container-padding-x: var(--container-padding);
  --container-padding-y: var(--container-padding);
}

.spacing-medium {
  --container-padding: 20px;
}
.spacingX-medium {
  --container-padding-x: 20px;
}
.spacingY-medium {
  --container-padding-y: 20px;
}

.spacing-small {
  --container-padding: var(--container-padding-small);
}
.spacingX-small {
  --container-padding-x: var(--container-padding-small);
}
.spacingY-small {
  --container-padding-y: var(--container-padding-small);
}

.containerY {
  padding-top: var(--container-padding-x);
  padding-bottom: var(--container-padding-x);
}

.containerX {
  padding-left: var(--container-padding-y);
  padding-right: var(--container-padding-y);
}

.md {
  max-width: 820px;
}