.spinner {
  margin: 0 auto;
  display: inline-flex;
  width: 1em;
  height: 1em;
  vertical-align: text-top;
  border: 0.1em solid;
  border-top-color: transparent;
  border-radius: 50%;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
