@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

:root {
  --color-primary: #006cff;
  --color-primary-rgb: 0, 108, 255;
  --color-primary-contrast: #ffffff;

  --color-danger: #df330d;
  --color-danger-rgb: rgb(223, 51, 13);
  --color-danger-contrast: #ffffff;

  --color-medium-light: #777777;
  --color-medium-light-rgb: 119, 119, 119;

  --color-medium: #5e5e5e;
  --color-medium-rgb: 94, 94, 94;

  --background-color: #ffffff;
  --background-color-rgba: 255, 255, 255;

  --text-color: #373737;
  --text-color-rgb: 55, 55, 55;

  --border-color:#e6e6e6;
  --border-color-rgb:230, 230, 230;
  
  --gutter: 20px;
  --gutter-large: 43px;
}

html {
  height: 100%;
}
body {
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  height: 100%;
  color: var(--text-color);
  background-color: var(--background-color);
}

h1 {
  margin-block-start: 1em;
  margin-block-end: 0.8em;
  font-size: 36px;
  font-weight: 700;
  line-height: 40px;
}

h2 {
  font-size: 24px;
  font-weight: 700;
  line-height: 32px;
}